:root {
  font-family: "Josefin Sans", sans-serif;
  color: #0c134f;
  --white: #ffffff;
  --black: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-left: 25px;
  padding-right: 25px;
}

main {
  margin-inline: auto;
  display: flex;
}

/* Header */
header.navbar-container {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  padding-top: 3vh;
}

header.navbar-container .logo img {
  width: 100px;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  font-weight: bold;
  color: #0c134f;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 1.05rem;
  transition: all 0.2s ease-in-out;
  
}

header.navbar-container .nav-list a {
  border-style: solid;
  border-width: medium;
  border-color: #0c134f;
  color: white;
}

header.navbar-container .nav-list li:hover a {
  background-color: #0c134f;
  color: white;
}

/* Home Content */
#home {
  padding-left: 25px;
  padding-right: 25px;
}

.home-content {
  display: flex;
  align-items: center;
}

.home-content .content-description {
  flex: 1 1;
}

.content-description .title {
  margin-block: 1rem;
  font-size: 3rem;
}

.content-description p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding-bottom: 1rem;
}

.home-content .img-slide .content-image {
  flex: 1;
  display: flex;
  margin: 2rem;
}

.home-slide img {
  width: 100%;
  margin: auto;
  max-width: 500px;
}

/* Image Slideshow */
.dot-under {
  text-align: center;
}

/* Slideshow */
.content-image {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #0c134f;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Overview */
#overview{
  padding-left: 25px;
  padding-right: 25px;
}

.overview {
  display: flex;
  flex-direction: row;
}

.overview-title{
  font-size: 3rem;
  text-align: center;
}

.overview img {
  width: 10rem;
}

.overview-content {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.overview-content .overview-description {
  padding: 1rem;
  flex: 1 1;
}

.overview-content .overview-description .title {
  margin-block: 1rem;
  font-size: 2rem;
}

.overview-content .overview-description p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.overview-content .overview-image {
  flex: 1;
  display: flex;
  margin: 2rem;
}

.overview-content .content-image img {
  width: 300px;
  min-width: 250px;
  margin: auto;
}

/* Aside */
main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  border-radius: 15px;
  padding: 1.5rem 1rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: auto;
  background-color: #0c134f;
  transform: translateY(100%);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all 0.1s ease-in-out;
}

.social-media ul li img {
  width: 5vh;
}

.social-media ul li img:hover {
  opacity: 30%;
}

/* Gaming Button */
.rgb-btn {
  padding: 0.8rem 2.5rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background: #0c134f;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 999px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.rgb-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-rgb-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 999px;
}

@keyframes glowing-rgb-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.rgb-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c134f;
  left: 0;
  top: 0;
  border-radius: 999px;
}

/* <=================== MEDIA RESOLUTION ===================> */
/* Medium devices (768px) */
@media screen and (max-width: 850px) {
  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main {
    padding: 1rem 3rem;
  }

  .home-content {
    flex-direction: column;
    gap: 2rem;
  }

  .content-description .title {
    margin-block: 1rem;
    font-size: 3rem;
  }

  .content-description p {
    font-size: 1rem;
  }

  .home-content .content-image {
    order: -1;
  }

  .overview {
    flex-direction: column;
  }

  li {
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
  }

  footer {
    font-size: 0.8rem;
  }
}

/* Mobile */
@media screen and (max-width: 430px) {
  .social-media ul {
    width: 2.5rem;
    height: 10rem;
  }

  .social-media ul li img {
    width: 2vh;
  }

  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main {
    padding: 1rem 3rem;
  }

  main .content {
    flex-direction: column;
    gap: 2rem;
  }

  .content-description .title {
    margin-block: 1rem;
    font-size: 2rem;
  }

  .content-description p {
    font-size: 1rem;
  }

  main .content .content-image {
    order: -1;
  }

  li {
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
  }

  footer {
    font-size: 0.8rem;
  }
}
